<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>vform example</title>
</head>
<body>
  <div id="app">
    <form @submit.prevent="login" @keydown="form.onKeydown($event)">
      <!-- Alert -->
      <div v-if="form.errors.any()">
        There were some problems with your input.
      </div>

      <!-- Username -->
      <div>
        <label for="username">Username</label>
        <input v-model="form.username" type="text" name="username" id="username">
        <div v-if="form.errors.has('username')">
          {{ form.errors.get('username') }}
        </div>
      </div>

      <!-- Password -->
      <div>
        <label for="password">Password</label>
        <input v-model="form.password" type="password" name="password" id="password">
        <div v-if="form.errors.has('password')">
          {{ form.errors.get('password') }}
        </div>
      </div>

      <!-- Remember Me -->
      <div>
        <label>
          <input v-model="form.remember" type="checkbox" value="1">
          Remember Me
        </label>
      </div>

      <!-- Submit Button -->
      <button :disabled="form.busy" type="submit">
        Log In
      </button>
    </form>
  </div>

  <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Promise,Object.assign,Object.values,Object.keys,Array.prototype.includes"></script>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/axios/dist/axios.js"></script>
  <script src="https://unpkg.com/axios-mock-adapter/dist/axios-mock-adapter.js"></script>
  <script src="https://unpkg.com/vform"></script>
  <!-- <script src="../dist/vform.umd.js"></script> -->

  <script>
    // import { Form, HasError, AlertError } from 'vform'
    var Form = window.vform.Form
    var HasError = window.vform.HasError
    var AlertError = window.vform.AlertError

    // Register the components
    Vue.component(HasError.name, HasError)
    Vue.component(AlertError.name, AlertError)

    new Vue({
      el: '#app',

      data: function () {
        return {
          // Create the form instance
          form: new Form({
            username: '',
            password: '',
            remember: false
          })
        }
      },

      methods: {
        login: function () {
          // Since we don't have an actual server, we'll mock the request.
          this.mockRequest()

          // Submit the form via a POST request.
          this.form.post('/login')
            .then(function (res) { console.log(res.data) })
        },

        mockRequest: function () {
          var mock = new AxiosMockAdapter(axios, { delayResponse: 200 })

          mock.onPost('/login').reply(422, {
            username: ['The username field is required.'],
            password: ['The password field is required.']
          })
        }
      }
    })
  </script>
</body>
</html>
